.env
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
*.egg-info/
dist/
build/
.DS_Store
# El modelo entrenado SI se sube al repo (es un entregable del proyecto)
# modelo/model.pkl
# modelo/label_encoder.pkl
logs/historial.json
config/config.json
# Dependencias de Node
frontend/node_modules/
frontend/dist/
frontend/.vite/
